@model IEnumerable<Priprema1.Models.Films>

@{
    ViewData["Title"] = "Film";
}
<body style="background-color:powderblue;">
</body>
<h2>Film</h2>
<br />

<form>
    <p>
        Traži:<input name="trazi" type="search"/>
              <input type="submit" value="Hajde" />

    </p>
    <a asp-action="Create">Kreiraj novi</a>
</form>
<br />


<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Naziv)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Godina)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.Zanr)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Naziv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Godina)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Zanr.Naziv)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
